*.o
*.mod
*.dat
tmp*
*.a
*.pdf
*.png
*.fuse_hidden*
*.pyc
*.out
*.bin
*.dat
*Zone.Identifier
SSPIC_1D/scripts/_pychache_/
SSCPIC_1D/build/
!PIC1D/CollisionData/*.dat
*.dbg
SPIC_1D/build/
